
body {
    font-family: georgia;
}

.container {
    width: 80%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

/* note_list.html */

.new {
    text-align: center;
    border: 1px solid grey;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.list {
    border: 1px solid grey;
}

.list h2 {
    text-align: center;
}

/* note_detail.html */

.header {
    margin-bottom: 2em;
}

.detail .text {
    text-align: center;
}

.detail textarea {
    margin-top: 1em;
    width: 100%;
    height: 300px;
}

.detail .submit {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}