{% extends "base.html" %}

{% block content %}

<div class="new">
  <h2> Create a new note. </h2>
  <form method="post" action="/create/">
  <label for="title">Title</label> <input type="text" name="title" id="title">
  <label for="slug">Slug</label> <input type="text" name="slug" id="slug">
  <input id="create" type="submit" value="create note">
  </form>
</div>


<div class="list">
  <h2> Notes </h2>
  <ol>
    {% for object in object_list %}
    <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
    {% endfor %}
  </ol>
</div>

<script>
var my_func = function() { alert("yes"); return false; };

$("#create").onclick(my_func);

/*
var onComplete = function(res,status) {
  if (status == "success") {

  }
  else {

  } 
}

var create = function(title, slug) {
  var data = {title:title,slug:slug};
  var args = {type:"POST",url:"/create/",data:data,complete:onComplete}
  $.ajax();
}
*/

</script>



{% endblock %}