{% extends "base.html" %}

{% block content %}

<div class="header">
  <a href="/"> Back to Index </a>
</div>


<div class="detail">
  {% if user.is_authenticated %}
  <form method="post" action="update/">
  <div class="text">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{ object.title }}">
    <label for="slug">Slug</label>
    <input type="text" name="slug" id="slug" value="{{ object.slug }}">
  </div>
  <textarea name="text" id="text">{{ object.text }}</textarea>
  <input class="submit" type="submit" value="update note">
  </form>
  {% else %}
  <span>Title: {{ object.title }}</span>
  <span>Slug: {{ object.slug }}</span>
  <p> {{ object.text }} </p>
  {% endif %}
</div>

{% if user.is_authenticated %}
<script>
$(document).ready(function() {
  var history = { title: $("#title").val(), slug: $("#slug").val() };

  var perform_update = function(field, val) {
    var data = {};
    data[field] = val;
    var args = { type:"POST", url:"ajax_update/", data:data, complete:done };
    $.ajax(args);
  };

  var done = function(res, status) {
    var txt = res.responseText;
    var data = eval('('+txt+')');
    if (status == "success") {
      display_success("Updated successfully.", $(".text"));
      if (data.url) {
        window.location = data.url
      }
    }
    else {
      display_error(data.msg, $(".text"));
      if (data.slug) {
        history['slug'] = data.slug;
        $("#slug").text(data.slug);
      }
    }
  }

  var title_to_input = function() {
    var title = $("#title");
    var input = $('<input type="text" name="title" id="title" value="'+title.text()+'">');
    input.hover(function() {}, title_to_span);
    title.replaceWith(input);
  }
  var title_to_span = function() {
    // called on mouse away
    var title = $("#title");
    if (title.val() != history['title']) {
      perform_update("title", title.val());
      history['title'] = title.val()
    }
    var span = $('<span id="title"><em>'+title.val()+'</em></span>');
    span.hover(title_to_input,function() {});
    title.replaceWith(span);
  }
  var slug_to_input = function() {
    var slug = $("#slug");
    var input = $('<input type="text" name="slug" id="slug" value="'+slug.text()+'">');
    input.hover(function() {}, slug_to_span);
    slug.replaceWith(input);
  }
  var slug_to_span = function() {
    // called on mouse away
    var slug = $("#slug");
    if (slug.val() != history['slug']) {
      perform_update("slug", slug.val());
      history['slug'] = slug.val();
    }
    var span = $('<span id="slug"><em>'+slug.val()+'</em></span>');
    span.hover(slug_to_input,function() {});
    slug.replaceWith(span);
  }
  title_to_span();
  slug_to_span();
  $("#text").hover(function() {}, function() { perform_update("text", $("#text").val()); });
  $("input[type=submit]").remove()
});

</script>
{% endif %}

{% endblock %}